 div.base
    {
    
    border:solid royalblue 1px;
    background-color:royalblue;
    height:400px;
    width:100%;
    }
    .first
    {
    	margin-left:6cm;
    	background-color:White;
    	border-bottom-color:yellowgreen;
    }
    .small
    {
    font-size:x-small;	
    }
    ul
    {
        
 	margin-top:358px;
 	font-family:Verdana;
 	float:left;
    background-color:lightgray;
 	border:solid white 1px;
 	border-bottom-width:5px;
 	 height:1cm;
 	 width:100px;
 	 padding-left:5px;
 	 text-align:center;
 	}
