<div class="sub">
<div class="sub1">
<div class="one">
<div>100%Happines Guaranteed</div>
</div>
<div class="two"></div>
<div class="three">
<div class="para1">Quality</div>
<div class="para2">You can trust</div>
</div>
<div class="two"></div>
<div class="four">
<div class="para1">On time quarantee</div>
<div class="para2">10%Value back if we are late</div>
</div>
<div class="two"></div>
<div class="five">
<div class="para1">Free delivery</div>
<div class="para2">on orders above rs1000</div>
</div>
<div class="two"></div>
<div class="six">
<div class="para3">No questions asked</div>
<div class="para4">return policy</div>
</div>
</div>
</div>
