<div class="topmenu">


<ul class="main-menu">
<li class="main-menu-item green">
<div>SHOP BY CTAEGORY</div>
<ul class="sub-menu">
<li class="sub-menu-item">
<div>item1</div>
<ul class="inner-sub-menu">
<li class="inner-sub-menu-item">subitem1</li>
<li class="inner-sub-menu-item">subitem1</li>
<li class="inner-sub-menu-item">subitem1</li>
</ul>
</li>
<li class="sub-menu-item">
<div>item1</div>
<ul class="inner-sub-menu three">
<li class="inner-sub-menu-item">subitem1</li>
<li class="inner-sub-menu-item">subitem1</li>
<li class="inner-sub-menu-item">subitem1</li>
</ul></li>
<li class="sub-menu-item">
<div>item1</div>
<ul class="inner-sub-menu four">
<li class="inner-sub-menu-item">subitem1</li>
<li class="inner-sub-menu-item">subitem1</li>
<li class="inner-sub-menu-item">subitem1</li>
</ul></li>
</ul>

</li>


<li class="main-menu-item one">
<div>OFFERS</div>
<ul class="sub-menu">
<li class="sub-menu-item">item2</li>
<li class="sub-menu-item">item2</li>
<li class="sub-menu-item">item2</li>
</ul>
</li>


<li class="main-menu-item two">
<div>SHOP</div>
<ul class="sub-menu">
<li class="sub-menu-item">item3</li>
<li class="sub-menu-item">item3</li>
<li class="sub-menu-item">item3</li>
</ul>
</li>

</ul>
</div>