
<div class="topmenu">
<ul class="main-menu">
<li class="main-menu-item">
<div>SHOP BY CATEGORY</div>
<div class="sub-menu-container">
<ul class="sub-menu">
<li class="sub-menu-item">
<div>item1</div>

<div>item1</div>
<div>item1</div>
</li>
</ul>
</div>
</li>


<li class="main-menu-item">
<div>OFFERS</div>
<div class="sub-menu-container">
<ul class="sub-menu">
<li class="sub-menu-item">
<div>item2</div>
<div>item2</div>
<div>item2</div>
</li>
</ul>
</div>
</li>


<li class="main-menu-item">
<div>BB SPEACIALITY</div>
<div class="sub-menu-container">
<ul class="sub-menu">
<li class="sub-menu-item">
<div>item3</div>
<div>item3</div>
<div>item3</div>
</li>
</ul>
</div>
</li>
</ul>
</div>